# --- .NET ---
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/
*.dll
*.pdb

# --- Node / Angular ---
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log

# --- Ortam / sırlar ---
.env
*.local

# --- IDE / OS ---
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

# --- Loglar ---
*.log
